<div class="jumbotron" ng-show="apps.length === 0">
  <h1>Hello, {{ user.username }}!</h1>
  <p>
    Let's get you started...<br/>
    What's the app name that you want to get registered?
    <input type="text" ng-model="appname" class="jumbo-input-appname" placeholder="|"></input>
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="createApp(appname)">Register</a></p>
</div>

<div class="list-group" ng-show="apps.length > 0">
  <span class="list-group-item active">
    <span>Your Apps...</span><span ng-click="createApp(appname)" class="glyphicon glyphicon-plus pull-right"></span><input type="text" ng-model="appname" placeholder="My Awesome App" class="appstarter-mini pull-right" />
  </span>
  <a href="/apps/{{app.id}}" class="list-group-item" ng-repeat="app in apps">{{app.title}}</a>
</div>
